.sa{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    background:   linear-gradient( orange, rgb(27, 27, 27));
}

.carda {
    width: 80vw;
    margin-bottom: 2vh;
}

.btnA{
    border: none;
    background-color: orange;
}

.btnA:hover{
    background-color: white;
    color: orange;
}

@media screen and (min-width: 600px) {
    
    .carda {
        width: 30rem;
    }
  }

  @media screen and (min-width: 1000px) {
    .sa{
        display: flex;
        flex-flow: row nowrap;
        padding-top: 15vh;
    }

    .carda {
        width: 16rem;
        margin: 10px;
    }
  }