.PageW{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background:   linear-gradient( orange, rgb(27, 27, 27));
    padding-top: 25vh;
}

.searchinput{
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}


.cardrec{
    background-color: transparent;
    border: none;
    color: white;
}

.recipep{
    display: flex;
    flex-flow: column wrap;
}