#lnp{
    margin-bottom: 5vh;
}

.H2{
    margin-bottom: 5vh;
}

.wh{
    font-size: 2rem;
    padding: 5vh
}
.big{
    font-weight: bold;
}

.b{
    padding: 5vw;
    background-color: black;
    color: white;
}


.abbh{
    background-color: orange;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

}

.c .LNP{
    display: flex;
    flex-flow: column wrap;
    padding: 5vw;
    margin-top: 5vw;
    background-color: black;
}



@media screen and (min-width: 785px) {
    .H1 {
        width: 30vw;
        background-color: black;
    }

    .H2{
        width: 40vw;
        background-color: black;
        padding: 5vw;
    }
    
    .LNP{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    }

    .b{
        padding: 7vw
    }
  }


