.profile {
    padding:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:   linear-gradient( orange, rgb(27, 27, 27));
    color: white
}

.profileWrapper {
    
    padding: 20px;
    border: solid 2px white;
    border-radius: 20px;
    width: 20rem;
}

.profileTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnprof{
    margin-top: 30px;
    border: none;
    background-color: transparent;
    color: orange;
    text-decoration: underline orange;
}


.inpp{
    width: 80vw;
}

.profileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePP {
    display: flex;
    align-items: center;
    margin: 10px 0; 
}



.useprofile {
    font-size: 20px;
    margin-top: 20px;
}
