.sub{
    background:   linear-gradient( orange, rgb(27, 27, 27));
    padding-top: 7rem;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}


.fm{
    margin-bottom: 0.5rem;
    width: 80vw;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.fmi{
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;}

.btnf{
    margin-bottom: 1rem;
    border: none;
    background-color: transparent;
    color: orange;
    text-decoration: underline orange;
    font-weight: bold;
    text-decoration: underline;
}


@media screen and (min-width: 650px) {

    .fm{
        width: 60vw;
    }

}

@media screen and (min-width: 860px) {

    .fm{
        width: 40vw;
    }

}
